@model TicketsSale.Domain.DomainModels.Ticket


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .size-up {
        font-size: 2rem;
    }
</style>

<h1 class="display-4 text-success">Edit</h1>

<hr />

<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MovieGenre" class="control-label"></label>
                <input asp-for="MovieGenre" class="form-control" />
                <span asp-validation-for="MovieGenre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieTitle" class="control-label"></label>
                <input asp-for="MovieTitle" class="form-control" />
                <span asp-validation-for="MovieTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieImage" class="control-label"></label>
                <input asp-for="MovieImage" class="form-control" />
                <span asp-validation-for="MovieImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidDate" class="control-label"></label>
                <input asp-for="ValidDate" class="form-control" />
                <span asp-validation-for="ValidDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-success w-75" />
            </div>
        </form>
    </div>
</div>

<hr />

<div>
    <a asp-action="Index" class="size-up">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}